@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
body, input, textarea, select, button, table {
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    line-height: 1.5;
}